$color-primary: #3ecacb;
$color-success: #4fc48d;
$color-warning: #f3d93f;
$color-danger: #f6588e;
$color-info: #27c6fa;
$colors: $color-primary, $color-success, $color-warning, $color-danger, $color-info, white;
$color-names: primary, success, warning, danger, info, white;
@include create-iteration(txt, color, $color-names, $colors);

$aligns: left, center, right;
@include create-iteration(txt, text-align, $aligns, $aligns);

$xxs: 12px;
$xs: 14px;
$s: 16px;
$m: 18px;
$l: 24px;
$xl: 28px;
$sizes: $xxs, $xs, $s, $m, $l, $xl, 32px;
$size-names: h6, h5, h4, h3, h2, h1, 32;
@include create-iteration(txt, font-size, $size-names, $sizes);

.txt-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.txt-bold {
  font-weight: bold;
}
